Main {
	display: block;
	border: 4px black solid;
	padding: 10px;
	height: 400px;
	width: 400px; 
	overflow-y : auto;

}

PERSON {
	display: block;

}

PersonId {	
	display: block;
}

Name {
	font-size: 30px;
	display: block;
}

Address {
	display: block;
}



