@font-face{

    font-family: 'CaviarDreams';
    src: url('Fonts/CaviarDreams.ttf');
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: 'Arsenal-Regular';
    src: url('Fonts/Arsenal-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
aside {
    background: #f0f0f0;
    padding-left: 10px;
    width: 200px;
    float: left;
    margin: auto;
    color: gray;
    font-family: CaviarDreams;
    font-size: 18px;
   }
   h1 {
       text-align: center;
       font-family: CaviarDreams;
   }
   h3 {
       text-align: left;
       font-family: Arsenal-Regular;
       padding-left: 20px;
   }
   body {
    background-image: url(fon1.jpg);
    background-color: #f5f2eea4;
   }
   .block{
    width: 70%;
    background: linear-gradient(whitesmoke, white);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 15%;
    text-align: justify;
    align-content: center;
    font-family: Arsenal-Regular;
    padding-right: 10px;
   }
   .regblock{
    width: 500px;
    height: 400px;
    background: linear-gradient(whitesmoke,white);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: justify;
    align-content: center;
    margin-left: 35%;
    border:2px solid black;
    border-color: gray;
   }
   .bioblock{
    width: 70%;
    background: linear-gradient(whitesmoke, white);
    display: flex;
    flex-wrap: nowrap;
    flex-direction:column;
    margin-left: 15%;
    text-align: justify;
    align-content: center;
    font-family: Arsenal-Regular;
    padding-left: 10px;
    padding-right: 10px;
   }
   .blockb{
    width: 70%;
    background: linear-gradient(whitesmoke, white);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 15%;
    text-align: justify;
    align-content: center;
    font-family: Arsenal-Regular;
    padding-right: 10px;
    padding-left: 10px;
   }
   .img{
       width:250px;
       height:359px;
       padding-right: 15px;
       padding-left:5px;
       padding-top:5px;
       padding-bottom: 20px;
   }
   .imgf{
       margin:auto;
       padding-top:3%;
        padding-left:17%;
   }
   .imgr{
       padding-right: 1000px;
       margin:auto;
       width: 426px;
       height: 320px;
   }
   .radio{
       display:flex;
       flex-wrap: wrap;
       flex-direction: column;
       margin-left: 50px;
       font-family: Arsenal-Regular;
   }
   .fields{
       display:block;
       margin: 10px;
       margin-left: 50px;
       font-family: Arsenal-Regular;
   }
   .count{
       display:block;
       margin:10px;
       margin-left:50px;
       font-family: Arsenal-Regular;
   }
   button {
    padding: 10px 0;
    border-width: 0;
    display: block;
    width: 120px;
    margin: 25px auto 0;
    background: silver;
    color: black;
    font-size: 14px;
    outline: none;
    text-transform: uppercase;
    font-family: Arsenal-Regular;
  }